# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c6e15bc97f0073d3e013eed218c75d37b82717fe2e4a4b23db5424d668b2de40feefd19908175ab16ae3f197048f42128a2f9429fea6b9b8d0781a4511896a94

test:
  secret_key_base: 0ba706e212833262b4edba40f0b153bba25bbab2573db35d085221d1c347d5258b3046b61244af6bb33879e561c1a3d74ea9d751f72a0a2e01fa38829f8fb42a

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
